.code-editor-container {
    display: flex;
    flex-direction: column;
    background: @blue_50;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border: 1px solid black;

    .expand {
        width: 5%;
        padding: 0 3px;
        margin: 5px auto;
        background: @blue_10;
        color: @blue_50;
        font-size: 1.3rem;
        border-radius: 1rem;

    }

    .hover {
        color: @pale-blue-magenta;
        cursor: pointer;
    }

    .active {
        color: darken(@pale-blue-magenta, 10%);
    }


}

.button-container {
    order: -1;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 5px;
    .btn {
        background: @blue_10;
        padding: 1rem;
        margin: 5px;
        margin-top: 0;
        border-radius: 2rem;
        border: 2px solid @blue_10;
        color:@blue_70;
        .img {
            width: 30px;
            height: 30px;
        }
    }

    .hover {
        color: @pale-blue-magenta;
        cursor: pointer;
    }

    .active {
        border-top: 2px solid darken(@pale-blue-magenta, 10%);
        border-left: 2px solid darken(@pale-blue-magenta, 10%);
        border-right: 2px solid darken(@pale-blue-magenta, 10%);
        color: darken(@pale-blue-magenta, 10%);
    }
}

.code-container {
    display: flex;
    flex-direction: row;

    .input-area {

        margin: 0 auto;
        width: 99%;
        height: 8rem;
        padding:2px;


        .title-container {
            padding: .5rem;
            background: darken(@blue_50,1%);
            border: 1px solid darken(@blue_70, 2%);

            .title {
                color: whitesmoke;
                font-size: 12px;
            }
        }

        .code-input-container {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;

            .line-counter {
                font-family: Courier, sans-serif;
                font-size: 14px;
                outline: none;
                background: darken(@blue_10, 2%);
                border: 1px solid  darken(@blue_70, 2%);
                resize: none;
                text-decoration: none;
                color: white;
                width: 10%;
            }

           
            .code {
                padding:1rem;
                width: 90%;
                font-family: Courier, sans-serif;
                font-size: 14px;
                background: @blue_30;
                outline: none;
                border: 1px solid  darken(@blue_70, 2%);
                resize: none;
                text-decoration: none;
                color: @pale-blue-magenta;
            }
        }
    }

    .close { 
        display: none;

    }
}