.code-tools-container {
    display: flex;

    .tools-background {
        display: flex;
        flex-direction: row-reverse;
        background: @blue_10;

        .btn {
            background: lighten(@blue_10, 1%);
            margin: 10px;
            padding:.5rem 1rem;
            color: @blue_70;
            border-radius: 10px;
            border: 2px solid @blue_10;
            line-height: 2.3;
         
        }


        .hover {
            color: @pale-blue-magenta;
            cursor: pointer;
        
        }
    }
}